.mobile_products_filters {
    display: none;
}

@media screen and (max-width: 740px) {
    .mobile_products_filters {
        width: 80%;
        height: 100vh;
        display: block;
        background-color: orange;
        position: fixed;
        top: 0;
        left: -80%;
        box-sizing: border-box;
        padding-top: 50px;
        z-index: 9999;
        transition: .4s ease-in-out;
    }
    
    .mobile_products_filters_wrap {
        position: relative;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .mobile_products_filters_hamburger {
        background-color: orange;
        position: absolute;
        right: -30px;
        top: 50px;
        width: 30px;
        height: 30px;
        text-align: center;
    }
    
    .mobile_products_filters_hamburger i {
        font-size: 2em;
    }

    .mobile_products_filters_opened_menu {
        left: 0;
    }
}